:root{
    --primary-color :#f8f8f2;
    --secondary-color:#ffffff;
    --text-color:#000000;

}

/* Basic Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--primary-color);
    color: var(--Text-color);
}

.sidebar{
    width: 20%;
}


/* Display */
.d-none{display: none;}
.d-block{display: block;}
.d-flex{display: flex;}
.d-grid{display: grid;}


/* center classes  */
.align-center{align-items: center;}
.justify-center{justify-content: center;}
.justify-between{justify-content: space-between;}

/* flex classes */
.flex-direction{flex-direction: column;}
.flex-wrap{flex-wrap: wrap;}

/* position */
.relative{position: relative;}
.absolute{position: absolute;}

/* width & height */
.w-100{width: 100%;}
.h-100{height: 100%;}


/* button classes */
.button{
padding: 6px 12px;
border-radius: 6px;
transition: all 0.2s ease;
}
.button:hover{
transform: scale(1.15);
}


/* gap classes */
.gap-1{gap: 0.25rem;}
.gap-2{gap: 0.5rem;}
.gap-3{gap: 0.75rem;}
.gap-4{gap: 1rem;}


/* a class */
a{
    text-decoration: none;
}